*
!.gitignore
!auth
!auth/**
!chat
!chat/**
!components
!components/**
!monitor
!monitor/**
!system
!system/**
!__init__.py

*_cache
*pycache__
*.log
*.codex
*.audit*
*AGENTS.md
*CLAUDE.md
*.cache
*.tmp
*.claude
