*
!.gitignore
!_schemas
!_schemas/**
!anthropic
!edge
!espeak
!gemini
!gliner_glirel
!llamacpp
!ollama
!onnx
!openai
!openai_compatible
!openai_tts
!openai_whisper
!parler
!qwen_tts
!rebel
!vllm
!whisper
!yolo
!nvidia_nim
!anthropic/**
!edge/**
!espeak/**
!gemini/**
!gliner_glirel/**
!llamacpp/**
!ollama/**
!onnx/**
!openai/**
!openai_compatible/**
!openai_tts/**
!openai_whisper/**
!parler/**
!qwen_tts/**
!rebel/**
!vllm/**
!whisper/**
!yolo/**
!nvidia_nim/**
!__init__.py
!README.md

*_cache
*pycache__
*.log
*.codex
*.audit*
*AGENTS.md
*CLAUDE.md
*.cache
*.tmp
*.claude